##### SERVER SETUP #####
# The price and pin are set up through the web interface.

#BITCOIN_SWITCH_WS="wss://your.lnbits.server/api/v1/ws/SWITCHIDGOESHERE"
#LNBITS_LNURL="lightning:LNURLGOESHERE" # LNURLs of all formats and all prefixes are supported

##### DISPLAY #####
# Names of suggested wallets. For each wallet, there must be a corresponding icon in the /pic folder of the same name.
# Be careful with spelling, spaces and capitalization.

SUGGESTED_WALLETS='["Cash App", "Shakepay", "Wallet of Satoshi"]'

##### TRIGGER #####

#PULSE_DURATION=500 #Time in milliseconds that the pulse is given. Default: 500
#PULSE_PIN=5 #GPIO pin number (BCM) that the pulse is given through. Default: 5
# Pins used by display (BCM): 3.3V, 10, 11, 8, 25, 17, 24

##### SYSTEM CONFIGURATION ##### (optional)

# DEBUG, INFO, WARNING, ERROR, CRITICAL
#DEBUG_LEVEL=INFO # Default: INFO

#PRODUCTION=TRUE # When set to False, the outgoing pins will be inverted. Useful for debugging. Default: True

#RELAY_DURATION=500 # Time in milli-seconds that the machine will trigger the relay. If set too high, multiple sodas may be dispensed. Default: 500

##### SCREEN #####

#SHOWDISPLAY=TRUE # When set to False, the display is deactivated. Useful for debugging. Default: True

#DISPLAY_DELAY=1 # Time in seconds that the display needs to refresh. Used to extend the lifetime of the Lightning invoice. Default: 1
#SUCCESS_SCREEN_EXPIRY=5 # The time that the success or failure screen is shown. Affects the listening cycle. Default: 5

#FONTA=Font.ttc # The file name of the font to be used. Must be placed in the /pic directory
#FONTSIZEA=24 # The size of the font to be used

#FONTB=Rushfordclean.otf
#FONTSIZEB=32 # The size of the alternative font to be used
