##### SERVER SETUP #####
# This device has two operative modes. The price and pin logic may either be configured
# through the web interface, or by the device itself.

##### ##### WEB SETUP 
# To set up your device through the web interface, configure these three variables:
# For information on how to obtain these variables, consult the README.md.
# Requires LNbits server and invoice api key. Websockets must be enabled on the server.
# If both setup mechanisms are configured, the web setup will be used.

#BITCOIN_SWITCH_WS="wss://your.lnbits.server/api/v1/ws/SWITCHIDGOESHERE"
#LNBITS_LNURL="lightning:LNURLGOESHERE" # LNURLs of all formats and all prefixes are supported
#LNBITS_INVOICE_KEY="f1fyourinvoicekeyheref1f"

##### ##### DEVICE SETUP 
# To have your device set up your account, please provide the following information:

#LNBITS_SERVER="your.lnbists.server"
#LNBITS_WALLET="your66wallet99id"
#LNBITS_ACL_TOKEN="averyveryverylongstring"

##### MERCHANT #####
# If you have configured the web setup, make sure the variables below match those on the web.

PRICE=1 # Price of the service being sold, e.g. 1, 5 or 10
CURRENCY="CAD" # Currency of the service being sold, e.g. "sat", "CAD" or "XAU"

SUGGESTED_WALLETS='["Cash App", "Shakepay", "Wallet of Satoshi"]' # Names of suggested wallets. For each wallet, there must be a corresponding icon in the /pic folder of the same name. Be careful of spelling, spaces and capitalization.

#BITCOIN_SWITCH_TITLE="Zapshutter" # The title used for the Switch extension. Default: Zapshutter

##### TRIGGER #####

#PULSE_DURATION=500 #Time in milliseconds that the pulse is given. Default: 500
#PULSE_PIN=5 #GPIO pin number (BCM) that the pulse is given through. Default: 5
# Pins used by display (BCM): 3.3V, 10, 11, 8, 25, 17, 24

##### SYSTEM CONFIGURATION ##### (optional)

# DEBUG, INFO, WARNING, ERROR, CRITICAL
#DEBUG_LEVEL=INFO # Default: INFO

#PRODUCTION=TRUE # When set to False, the outgoing pins will be inverted. Useful for debugging. Default: True

#RELAY_DURATION=500 # Time in milli-seconds that the machine will trigger the relay. If set too high, multiple sodas may be dispensed. Default: 500

##### DISPLAY #####

#SHOWDISPLAY=TRUE # When set to False, the display is deactivated. Useful for debugging. Default: True

#DISPLAY_DELAY=1 # Time in seconds that the display needs to refresh. Used to extend the lifetime of the Lightning invoice. Default: 1
#SUCCESS_SCREEN_EXPIRY=5 # The time that the success or failure screen is shown. Affects the listening cycle. Default: 5

#FONTA=Font.ttc # The file name of the font to be used. Must be placed in the /pic directory
#FONTSIZEA=24 # The size of the font to be used

#FONTB=Rushfordclean.otf
#FONTSIZEB=32 # The size of the alternative font to be used
